ion-list{
    background: #18181B;

    .item{
        background: #18181B;
        border: 2px solid #6938ca;
        border-radius: 16px;
        margin-top: 6%;
        margin-bottom: 6%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    
        .first-box{
            display: grid;
            justify-content: space-between;
    
            ion-label{
                margin-top: 0;
                margin-bottom: 0;
                color: white;
                font-size: 17px;
                white-space: unset;
                text-overflow: unset;
            }
    
            p{
                margin-top: 7px;
                margin-bottom: 0;
                color: white;
            }
        }
    }
}